{% extends "admin/layout.twig" %}
{% block content  %}
    <div class="container">
        <div class="table-responsive bg-white shadow rounded">
            <table class="table align-middle table-bordered" id="tableList">
                <thead class="table-dark">
                <tr>
                    <th class="text-center fw-bold" scope="col" style="width: 50px">#</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">PDF</th>
                    <th scope="col">IMAGE</th>
                    <th scope="col" style="width: 100px">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for abstract in data %}
                    <tr class="single">
                        <td class="text-center fw-bold">
                            {{ loop.index }}
                        </td>
                        <td>{{ abstract[0].title }}</td>
                        <td><a href="/files/posters/{{ abstract[0].pdf }}" target="_blank">{{ abstract[0].pdf }}</a></td>
                        <td><a href="/files/posters/{{ abstract[0].image }}" target="_blank">{{ abstract[0].image }}</a></td>
                        <td>
                            <form action="" method="post" class="d-inline">
                                <input type="hidden" name="abstract_id" value="{{ abstract[0].id }}">
                                {% if abstract[0].published %}
                                    <input type="hidden" name="publish" value="0">
                                    <button class="btn btn-danger btn-sm">Discard</button>
                                {% else %}
                                    <input type="hidden" name="publish" value="1">
                                    <button class="btn btn-success btn-sm">Publish</button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a class="d-block my-3" data-bs-toggle="collapse" href="#collapse{{ abstract[0].id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="bi bi-caret-right-fill"></i> Authors
                            </a>
                            <div class="collapse" id="collapse{{ abstract[0].id }}">
                                <table class="table align-middle table-bordered">
                                    <thead>
                                        <th scope="col">TITLE</th>
                                        <th scope="col">NAME</th>
                                        <th scope="col">EMAIL</th>
                                        <th scope="col">AFFILIATION</th>
                                    </thead>
                                    <tbody>
                                        {% for author in abstract.authors %}
                                            <tr>
                                                <td>{{ author.author_title }} </td>
                                                <td>{{ author.name }} <span class="text-danger fw-bold">{{ author.corres ? '*': '' }}</span></td>
                                                <td>{{ author.email }}</td>
                                                <td>{{ author.affiliation }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
