{% extends "layout.twig" %}
{% block content  %}
    <main>
        <div class="bg-light py-5">
            <div class="container text-center text-primary"><h3>Our Sponsors</h3></div>
        </div>
        <div class="container text-center my-5">
            <h2 class="alert alert-primary my-5">MEGMA Sponsorship</h2>
            <div class="row justify-content-center">
                {%  for sponsor in data %}
                    {% if sponsor.sponsor_type == 'a' %}
                        <div class="col-md-4 mb-4">
                            <a href="/sponsors/{{ sponsor.id }}">
                                <div class="card shadow">
                                    <div class="card-header bg-white text-primary"><h2>{{ sponsor.name }}</h2></div>
                                    <div class="card-body d-flex align-items-center">
                                        <img src="/files/sponsors/{{ sponsor.logo }}" loading="lazy" class="img-fluid" alt="{{ sponsor.name }} logo">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <h2 class="alert alert-primary my-5">Platinum Sponsorship</h2>
            <div class="row justify-content-center">
                {%  for sponsor in data %}
                    {% if sponsor.sponsor_type == 'b' %}
                        <div class="col-md-4 mb-4">
                            <a href="/sponsors/{{ sponsor.id }}">
                                <div class="card shadow">
                                    <div class="card-header bg-white text-primary"><h2>{{ sponsor.name }}</h2></div>
                                    <div class="card-body d-flex align-items-center">
                                        <img src="/files/sponsors/{{ sponsor.logo }}" loading="lazy" class="img-fluid" alt="{{ sponsor.name }} logo">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <h2 class="alert alert-primary my-5">Gold Sponsorship</h2>
            <div class="row justify-content-center">
                {%  for sponsor in data %}
                    {% if sponsor.sponsor_type == 'c' %}
                        <div class="col-md-4 mb-4">
                            <a href="/sponsors/{{ sponsor.id }}">
                                <div class="card shadow">
                                    <div class="card-header bg-white text-primary"><h2>{{ sponsor.name }}</h2></div>
                                    <div class="card-body d-flex align-items-center">
                                        <img src="/files/sponsors/{{ sponsor.logo }}" loading="lazy" class="img-fluid" alt="{{ sponsor.name }} logo">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <h2 class="alert alert-primary my-5">Silver Sponsorship</h2>
            <div class="row justify-content-center">
                {%  for sponsor in data %}
                    {% if sponsor.sponsor_type == 'd' %}
                        <div class="col-md-4 mb-4">
                            <a href="/sponsors/{{ sponsor.id }}">
                                <div class="card shadow">
                                    <div class="card-header bg-white text-primary"><h2>{{ sponsor.name }}</h2></div>
                                    <div class="card-body d-flex align-items-center">
                                        <img src="/files/sponsors/{{ sponsor.logo }}" loading="lazy" class="img-fluid" alt="{{ sponsor.name }} logo">
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
{%  endblock  %}