<div class="my-5">
    <h3 class="alert alert-primary">Products <a href="/admin/sponsors/{{ data.id }}/products/create" class="btn btn-dark float-end">Add product</a></h3>

    <div class="table-responsive bg-white shadow rounded">
        <table class="table align-middle table-bordered" id="tableList">
            <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 50px">#</th>
                <th scope="col">Name</th>
                <th scope="col" style="width: 30px">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr id="{{ product.product_id }}" class="single">
                    <td>
                        {% if product.type == 'image' %}
                            <img src="/files/products/{{ product.url }}" style="border-radius: 40px" height="40px" width="40px" loading="lazy" alt="">
                        {% else %}
                            <div style="width: 35px; height: 35px; border-radius: 35px;" class="bg-primary d-flex align-items-center justify-content-center text-white fw-bold">S</div>
                        {% endif %}
                    </td>
                    <td>{{ product.product_name }}</td>
                    <td>
                        <form action="" method="post" class="d-inline">
                            <input type="hidden" name="delete_product" value="true">
                            <input type="hidden" name="product_id" value="{{ product.product_id }}">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>