{% extends "admin/layout.twig" %}
{% block content  %}

    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row gy-3">
                <div class="col-md-8 mb-2">
                    <label for="name" class="form-label">Speaker Name</label>
                    <input type="text" name="name" id="name" class="form-control" value="{{ data.name }}" required />
                    {% for err in errors.name %}
                        <span class="text-danger w-100">{{ err }}</span> <br />
                    {% endfor %}
                </div>
                <div class="col-md-4 mb-2">
                    <label for="country" class="form-label">Speaker Country</label>
                    <select name="country" id="country" class="form-control" required>
                        <option value="us" {{ data.country == 'us' ? 'selected' : '' }}>United States Of America</option>
                        <option value="gb" {{ data.country == 'gb' ? 'selected' : '' }}>United Kingdom</option>
                        <option value="au" {{ data.country == 'au' ? 'selected' : '' }}>Australia</option>
                        <option value="sg" {{ data.country == 'sg' ? 'selected' : '' }}>Singapore</option>
                        <option value="sa" {{ data.country == 'sa' ? 'selected' : '' }}>Saudi Arabia</option>
                        <option value="de" {{ data.country == 'de' ? 'selected' : '' }}>Germany</option>
                        <option value="qa" {{ data.country == 'qa' ? 'selected' : '' }}>Qatar</option>
                        <option value="ae" {{ data.country == 'ae' ? 'selected' : '' }}>UAE</option>
                        <option value="om" {{ data.country == 'om' ? 'selected' : '' }}>Oman</option>
                        <option value="jo" {{ data.country == 'jo' ? 'selected' : '' }}>Jordan</option>
                        <option value="tr" {{ data.country == 'tr' ? 'selected' : '' }}>Turkey</option>
                    </select>
                    {% for err in errors.country %}
                        <span class="text-danger w-100">{{ err }}</span> <br />
                    {% endfor %}
                </div>
                <div class="col-md-12 mb-2">
                    <label for="affiliation" class="form-label">Affiliation</label>
                    <input type="text" name="affiliation" id="affiliation" class="form-control" value="{{ data.affiliation }}"  />
                    {% for err in errors.affiliation %}
                        <span class="text-danger w-100">{{ err }}</span> <br />
                    {% endfor %}
                </div>

                <div class="col-md-12 mb-2">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" accept="image/*" name="image" id="image" class="form-control" />
                    {% for err in errors.image %}
                        <span class="text-danger w-100">{{ err }}</span> <br />
                    {% endfor %}
                </div>
                <div class="col-md-12 mb-2">
                    <label for="bio" class="form-label">Bio</label>
                    <textarea name="bio" id="bio" class="form-control" rows="4">{{ data.bio|raw }}</textarea>
                    {% for err in errors.bio %}
                        <span class="text-danger w-100">{{ err }}</span> <br />
                    {% endfor %}
                </div>
                <div class="col-md-12 mb-2">
                    <button class="btn-primary btn px-4">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block scripts %}
    <script
            type="text/javascript"
            src='https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js'
            referrerpolicy="origin">
    </script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#bio',
            height: 600,
            plugins: [
                'advlist autolink link lists charmap preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking',
                'table paste help'
            ],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link | preview fullpage | ' +
                'forecolor backcolor | help',

            menubar: 'edit view insert format tools table help',
        });
    </script>

{% endblock %}