{% extends "admin/layout.twig" %}
{% block content  %}

    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row gy-3">
                <div class="col-md-8 mb-2">
                    <label for="name" class="form-label">Product Name</label>
                    <input type="text" name="name" id="name" class="form-control" value="{{ data.name }}" required />
                    {% for err in errors.name %}
                        <span class="text-danger w-100">{{ err }}</span> <br />
                    {% endfor %}
                </div>
                <div class="col-md-4 mb-2">
                    <label for="type" class="form-label">Product Type</label>
                    <select class="form-control" name="type" id="type">
                        <option value="pdf">PDF</option>
                        <option value="image">Image</option>
                        <option value="video">Video</option>
                    </select>
                    {% for err in errors.type %}
                        <span class="text-danger w-100">{{ err }}</span> <br />
                    {% endfor %}
                </div>
                <div class="col-md-12 mb-2" id="product">
                    <label for="image" class="form-label">Upload File</label>
                    <input type="file" name="image" id="image" class="form-control" />
                    {% for err in errors.image %}
                        <span class="text-danger w-100">{{ err }}</span> <br />
                    {% endfor %}
                </div>
                <div class="col-md-12 mb-2 d-none" id="url">
                    <label for="url" class="form-label">Video URL</label>
                    <input type="url" name="url" id="url" class="form-control" value="{{ data.url }}" />
                    {% for err in errors.url %}
                        <span class="text-danger w-100">{{ err }}</span> <br />
                    {% endfor %}
                </div>
                <div class="col-md-12 mb-2">
                    <button class="btn-primary btn px-4">Save</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let select = document.querySelector('#type')
        select.addEventListener('change', () => {
           if(select.value === 'video') {
               document.querySelector('#product').classList.add('d-none')
               document.querySelector('#url').classList.remove('d-none')
           } else {
               document.querySelector('#url').classList.add('d-none')
               document.querySelector('#product').classList.remove('d-none')

           }
        })
    </script>
{% endblock %}